body {
  background-color: #333;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.keys {
  color: #d8f;
  font-size: 28px;
  padding: 28px 0;
}

#game {
  background-color: blue;
  cursor: none;
}

.debug {
  color: white;
}
